<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="beanLifecycle" class="com.atguigu.spring.lifecycle.Car" init-method="init" destroy-method="destory">
        <property name="brand" value="大众"></property>
        <property name="price" value="20000"></property>
    </bean>
    <bean class="com.atguigu.spring.lifecycle.MyBeanPostProcessor"></bean>
</beans>